### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Compilación de Java
*.class

# Archivos de Log
test.log
*.log

# Directorios generados por herramientas de compilación
/bin/
/build/
/target/
/out/

# Dependencias descargadas por Maven
.mvn/
!**/src/main/**/.mvn/
!**/src/test/**/.mvn/
**/pom.xml.tag
**/pom.xml.releaseBackup
**/pom.xml.versionsBackup
**/pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Dependencias descargadas por Gradle
.gradle/
/build/
!gradle-wrapper.jar

# Archivos de configuración de IDEs
.idea/
*.iml
*.ipr
*.iws
*.swp
/.vscode/
.classpath
.project
.settings/

# Archivos generados por NetBeans
/nbproject/private/
/nbbuild/
/nbdist/
/nbactions.xml
/nbactions-private.xml
/nb-configuration.xml
/nb-gradle/

# Archivos generados por Eclipse
/.classpath
/.project
/.settings/
/.metadata/

# Archivos generados por IntelliJ IDEA
/.idea/
*.iws
*.iml
*.ipr

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de configuración de Docker
**/.dockerignore

docker-compose.override.yml

# Otros archivos innecesarios
*.war
*.ear
*.jar
*.zip
*.tar
*.gz
