<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Plantilla</title>
</head>
<body>
<header th:fragment="header">
    <h1 th:text="#{plantilla.titulo}">Title</h1>
</header>
<footer th:fragment="footer">
    <br/>
    <a th:href="@{/(lang=es)}">ES</a> |
    <a th:href="@{/(lang=en)}">EN</a> |
    <span>[[#{plantilla.pie-pagina}]]</span>
    <form method="post" th:action="@{/logout}">
        <b>User: </b><span sec:authentication="name">User of Login</span> |
        <b>Roles: </b><span sec:authentication="principal.authorities">Rols</span> |
        <a href="#" onclick="this.parentNode.submit();">LOGOUT</a>
    </form>
</footer>
</body>
</html>